body {
    background-color: #1c87c9;
    
  }
.Ground {
  background-color: #1dd71d;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
}

.pipe {
  height: 50px;
  width: 50px;
}